@charset "UTF-8";
/* Global color default list
 * - Description: Default color
 * - Baseline Color: #e4acc9
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRWAINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CERNSORING
 */
/*
 * SEARCH RESULT
 */
/* Global size parameter
 * - Baseline Device: Notebook
 * - Baseline Resolution: 1366*768
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * FORGET PASSWORD
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRAWINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CENSORING
 */
/*
 * SEARCH RESULT
 */
body {
  background-color: #e0e0e0;
}
#container {
  width: 650px;
  height: 150px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -325px;
  background: #ffffff;
  position: absolute;
}
#container .icon-notice {
  float: left;
  height: 150px;
  line-height: 150px;
  font-size: 72px;
  margin-left: 50px;
  margin-right: 20px;
}
#container .icon-notice .fa-check {
  color: #0a0;
}
#container .icon-notice .fa-close {
  color: #ff4e4e;
}
#container .wrap-notice {
  float: left;
  height: 150px;
}
#container .wrap-notice p {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 0;
  color: #555;
}
#container .wrap-notice a {
  font-size: 12px;
  text-decoration: none;
  color: #e4acc9;
}
#container .wrap-notice a:hover {
  color: #e29abf;
}
