@charset "UTF-8";
/* Global color default list
 * - Description: Default color
 * - Baseline Color: #e4acc9
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRWAINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CERNSORING
 */
/*
 * SEARCH RESULT
 */
/* Global size parameter
 * - Baseline Device: Notebook
 * - Baseline Resolution: 1366*768
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * FORGET PASSWORD
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRAWINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CENSORING
 */
/*
 * SEARCH RESULT
 */
#container {
  background-size: cover;
  background-repeat: no-repeat;
}
#container .wrap-search {
  width: 1100px;
  min-height: 640px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 40px;
  display: table;
}
#container .wrap-search .sect-searchbox {
  width: 740px;
  height: 180px;
  margin: 0 auto;
  line-height: 180px;
  text-align: Center;
}
#container .wrap-search .sect-searchbox .search-title {
  float: left;
  height: 180px;
  line-height: 180px;
  font-size: 38px;
  color: #ff65b5;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
#container .wrap-search .sect-searchbox input {
  width: 400px;
  height: 50px;
  padding: 0px 15px;
  font-size: 18px;
  border: none;
}
#container .wrap-search .sect-searchbox #submit {
  height: 50px;
  width: 100px;
  line-height: 50px;
  color: #fff;
  font-size: 1.8em;
  float: right;
  background: #e4acc9;
  margin-top: 64px;
  margin-left: -30px;
  margin-right: 30px;
  cursor: pointer;
}
#container .wrap-search .sect-option {
  width: 1100px;
  background-color: #ffffff;
  padding: 10px 0;
  display: table;
}
#container .wrap-search .sect-option .elm-radio {
  display: table;
  margin: 20px 30px;
}
#container .wrap-search .sect-option .elm-radio .radio-primary {
  padding: 0;
  margin: 0;
}
#container .wrap-search .sect-option .elm-radio .radio-primary li {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  background-color: #f0f0f0;
  padding: 3px 8px;
  margin-right: 10px;
  color: #000000;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
#container .wrap-search .sect-option .elm-radio .radio-primary li.selected {
  background-color: #e29abf;
  color: #ffffff;
  transition: background-color 0.3s;
}
#container .wrap-search .sect-list {
  width: 1100px;
  margin-top: 15px;
  display: table;
}
#container .wrap-search .sect-list .wrap-draft {
  width: calc(263px);
  height: 380px;
  background-color: #ffffff;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: transform 0.3s linear, box-shadow 0.3s;
  cursor: pointer;
}
#container .wrap-search .sect-list .wrap-draft .wrap-image {
  width: calc(261px);
  height: calc(340px);
  background-size: cover !important;
  background-position: center center !important;
  border: 1px solid #e4acc9;
}
#container .wrap-search .sect-list .wrap-draft .wrap-title {
  width: calc(241px);
  position: absolute;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 6px #000000;
  text-align: left;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
#container .wrap-search .sect-list .wrap-draft .wrap-like {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
}
#container .wrap-search .sect-list .wrap-draft .wrap-like i {
  margin-left: 20px;
  margin-right: 10px;
}
#container .wrap-search .sect-list .wrap-draft .wrap-like i:nth-child(1) {
  margin-left: 0;
}
#container .wrap-search .sect-list .wrap-draft .wrap-mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: calc(243px);
  height: calc(342px);
  text-align: center;
  opacity: 0;
  transition: opacity .3s;
  padding: 0 10px;
}
#container .wrap-search .sect-list .wrap-draft .wrap-mask p:nth-child(1) {
  margin-top: 60px;
}
#container .wrap-search .sect-list .wrap-draft .wrap-mask p {
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  word-break: break-all;
}
#container .wrap-search .sect-list .wrap-draft:nth-child(4n+4) {
  margin-right: 0;
}
#container .wrap-search .sect-list .wrap-draft:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px gray;
}
#container .wrap-search .sect-list .wrap-draft:hover .wrap-mask {
  opacity: 1;
}
#container .wrap-search .sect-list .pagination {
  display: table;
  width: 100%;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}
#container .wrap-search .sect-list .pagination li {
  display: inline-block;
  /* Does not support IE8 or less */
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  font-size: 1.3em;
  border-bottom: 3px solid #ffffff;
  color: #888888;
  transition: background .3s, color .3s;
}
#container .wrap-search .sect-list .pagination li a {
  display: block;
  color: #888888;
  transition: color .3s;
}
#container .wrap-search .sect-list .pagination li.active {
  color: #000000;
  border-bottom: 3px solid #e29abf;
}
#container .wrap-search .sect-list .pagination li.disabled {
  display: none;
}
#container .wrap-search .sect-list .pagination li:hover {
  background-color: #e29abf;
  color: #ffffff;
}
#container .wrap-search .sect-list .pagination li:hover a {
  color: #ffffff;
}
#container .wrap-search .sect-list-none {
  width: 1100px;
  height: 500px;
  line-height: 500px;
  font-size: 48px;
  text-align: center;
  color: #aaaaaa;
  background-color: #ffffff;
  margin-top: 15px;
}
