@charset "UTF-8";
/* Global color default list
 * - Description: Default color
 * - Baseline Color: #e4acc9
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRWAINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CERNSORING
 */
/*
 * SEARCH RESULT
 */
/* Global size parameter
 * - Baseline Device: Notebook
 * - Baseline Resolution: 1366*768
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * FORGET PASSWORD
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRAWINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CENSORING
 */
/*
 * SEARCH RESULT
 */
#container .wrap-settings .content .wrap-picker {
  width: 335px;
  height: 300px;
  float: left;
  position: relative;
  border-right: 1px solid #d0d0d0;
  border-radius: 10px;
  margin-top: 40px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: left .5s, opacity .3s;
}
#container .wrap-settings .content .wrap-picker .avatar-cropper {
  width: 280px;
  height: 280px;
  margin-top: 10px;
}
#container .wrap-settings .content .wrap-picker .avatar-cropper img {
  max-width: 100%;
}
#container .wrap-settings .content .wrap-picker:after,
#container .wrap-settings .content .wrap-picker:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
#container .wrap-settings .content .wrap-picker:after {
  border-width: 9px;
  border-left-color: #ffffff;
  top: 50%;
}
#container .wrap-settings .content .wrap-picker:before {
  border-width: 10px;
  border-left-color: #c5c5c5;
  top: 49.5%;
}
#container .wrap-settings .content .wrap-avatar {
  width: 280px;
  height: 280px;
  margin-top: 50px;
  position: relative;
  left: 34%;
  transition: left, .3s;
  background-size: cover;
  border-radius: 100%;
}
#container .wrap-settings .content .wrap-avatar .cover-avatar-upload {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 100%;
  display: none;
  position: relative;
}
#container .wrap-settings .content .wrap-avatar .cover-avatar-upload img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 80px;
  position: absolute;
  left: 50%;
  margin-left: calc(-45px);
}
#container .wrap-settings .content .wrap-avatar .cover-avatar-upload p {
  font-size: 18px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 175px;
  position: absolute;
  width: 100%;
  text-align: center;
}
#container .wrap-settings .content .wrap-avatar .cover-avatar-upload .cover-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
#container .wrap-settings .content .wrap-picker-btn {
  width: 100%;
  border-top: 1px solid #f3f3f3;
  margin-top: 40px;
  padding-top: 30px;
  text-align: center;
  display: none;
}
#container .wrap-settings .content .wrap-picker-btn button {
  padding: 10px 20px;
  margin: 0 5px;
}
#container .wrap-settings .content .wrap-picker-btn button .fa {
  margin-right: 10px;
}
#container .wrap-settings .content .wrap-picker-btn p {
  color: #555555;
}
#container .wrap-settings .content .wrap-picker-btn a {
  color: #e29abf;
  cursor: pointer;
}
#container .wrap-settings .content .wrap-picker-btn a:hover {
  color: #e4acc9;
}
