@charset "UTF-8";
/* Global color default list
 * - Description: Default color
 * - Baseline Color: #e4acc9
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRWAINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CERNSORING
 */
/*
 * SEARCH RESULT
 */
/* Global size parameter
 * - Baseline Device: Notebook
 * - Baseline Resolution: 1366*768
 */
/*
 * COMMON
 */
/*
 * REGISTER PAGE
 */
/*
 * LOGIN PAGE
 */
/*
 * FORGET PASSWORD
 */
/*
 * SETTING PAGE
 */
/*
 * DRAWINGS UPLOAD
 */
/*
 * DRAWINGS MANAGER
 */
/*
 * DRAWINGS VIEW
 */
/*
 * DRAWINGS CENSORING
 */
/*
 * SEARCH RESULT
 */
#container .wrap-settings .content .wrap-option {
  width: calc(759px);
  display: table;
  padding: 30px 50px;
  padding-bottom: 0;
}
#container .wrap-settings .content .wrap-option .elm-option {
  width: 140px;
  height: 140px;
  float: left;
  background-color: #e4acc9;
  text-align: center;
  margin: 5px 55px;
  border-radius: 5px;
}
#container .wrap-settings .content .wrap-option .elm-option img {
  width: 80px;
  height: 80px;
  margin-top: 18px;
}
#container .wrap-settings .content .wrap-option .elm-option p {
  margin: 0;
  color: #ffffff;
}
#container .wrap-settings .content .wrap-option .elm-option:hover,
#container .wrap-settings .content .wrap-option .elm-selected {
  background-color: #e29abf;
  transition: background-color, 0.3s;
}
#container .wrap-settings .content .wrap-form {
  float: left;
  display: none;
  width: 740px;
  border-radius: 10px;
  margin: 0 50px;
  margin-top: 25px;
  padding-top: 20px;
  position: relative;
  border-top: 1px solid #e0e0e0;
}
#container .wrap-settings .content .wrap-form .col-form {
  display: table;
  height: 50px;
  line-height: 50px;
  margin-left: 90px;
}
#container .wrap-settings .content .wrap-form .col-form .row-label {
  float: left;
  width: 60px;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
  color: #888888;
}
#container .wrap-settings .content .wrap-form .col-form .row-tips {
  float: left;
  color: #9a9a9a;
  font-size: 14px;
  margin-left: 20px;
}
#container .wrap-settings .content .wrap-form .col-form .row-elm {
  float: left;
}
#container .wrap-settings .content .wrap-form .col-form .row-elm input[type="text"],
#container .wrap-settings .content .wrap-form .col-form .row-elm input[type="email"],
#container .wrap-settings .content .wrap-form .col-form .row-elm input[type="password"] {
  width: 240px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  padding: 0 10px;
}
#container .wrap-settings .content .wrap-form .col-form .row-elm #geetest-captcha {
  transform: scale(0.8);
  transform-origin: left center;
}
#container .wrap-settings .content .wrap-form .col-form .row-elm #geetest-captcha > .geetest_holder {
  width: 328px !important;
}
#container .wrap-settings .content .wrap-form .box-button {
  width: 100%;
  border-top: 1px solid #f3f3f3;
  margin-top: 20px;
  padding-top: 25px;
  text-align: center;
}
#container .wrap-settings .content .wrap-form .box-button button[type="submit"] {
  width: 270px;
  height: 50px;
  border: none;
  background-color: #e4acc9;
  color: #ffffff;
  font-size: 24px;
  font-family: "STHeitiSC-Light", Helvetica, "微软雅黑 Light", "黑体", "宋体";
  border-radius: 5px;
}
#container .wrap-settings .content .wrap-form:after,
#container .wrap-settings .content .wrap-form:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  bottom: 100%;
  position: absolute;
  width: 0;
}
#container .wrap-settings .content .wrap-form:after {
  border-width: 9px;
  border-bottom-color: #ffffff;
  left: 115px;
}
#container .wrap-settings .content .wrap-form:before {
  border-width: 10px;
  border-bottom-color: #c5c5c5;
  left: calc(114px);
}
#container .wrap-settings .content #wrap-email:after {
  left: calc(370px);
}
#container .wrap-settings .content #wrap-email:before {
  left: calc(369px);
}
#container .wrap-settings .content #wrap-phone:after {
  left: calc(625px);
}
#container .wrap-settings .content #wrap-phone:before {
  left: calc(624px);
}
button:disabled {
  background-color: #c5c5c5 !important;
  transition: background-color, 0.3s;
}
